<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- title of tab page -->
    <title>
        {% block title_page %} Title tab page {% endblock  %}
    </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'pueblomagico/bootstrap4/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pueblomagico/css/base.css' %}">
    {% block custom_css %} {% endblock  %}
    <!-- fontawesome -->
    <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
        crossorigin="anonymous">
</head>
<body>

    {% if request.session.user %}
        <!-- navbar with user session information and options-->
        <div class="d-flex flex-row-reverse pt-2 pb-2 pb-lg-0 mb-0" id="navUserInSession">
            <div id="formLogoutUser">
                <form action="{% url 'pueblomagico:logout' %}" method="post"> 
                    {% csrf_token %}
                    <div class="form-row">
                        <input type="hidden" value="Ok" name="logout">
                        <input type="hidden" name="currPage" value="{{ request.get_full_path }}">
                    </div>
                    <button type="submit" class="btn btn-danger mr-4 pl-2"
                    id="btnLogout" value="Ok">
                        Cerrar sesión
                    </button>
                </form>
            </div>
            <div id="btnuserinfo">
                <button type="button" class="btn btn-info mr-4 pr-2 ml-3"
                data-toggle="popover" title="Usuario {{request.session.user.username}}" 
                data-html="true" data-placement="bottom"
                data-content="Nombre: {{request.session.user.firstname|upper}}<br>
                               Apellido: {{request.session.user.lastname|upper}}<br>
                               Email: {{request.session.user.email}}">
                    {{request.session.user.username}} <i class="fa fa-user" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    {% endif %}
    <!-- Nav bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light pt-0">
        <!-- logo -->
        <a class="navbar-brand" href="{% url 'pueblomagico:index'%}">
            <img src="{% static 'pueblomagico/images/baggage.png' %}" alt="company logo"
            class="img-fluid" id="logo">
        </a>
        <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" {% if page == 'index'%}id="currPage"{%endif%}>
                    <a class="nav-link" href="{% url 'pueblomagico:index'%}">
                        <i class="fa fa-home" aria-hidden="true"></i>Inicio</a>
                </li>
                <li class="nav-item" {% if page == 'travel'%}id="currPage"{%endif%}>
                    <a class="nav-link" href="{% url 'pueblomagico:travel'%}">
                        <i class="fa fa-plane" aria-hidden="true"></i>Reservaciones</a>
                </li>
                <li class="nav-item" {% if page == 'post'%}id="currPage"{%endif%}>
                    <a class="nav-link" href="{% url 'pueblomagico:post'%}">
                        <i class="fa fa-users"></i>Entérate</a>
                </li>
                <li class="nav-item ml-lg-6" id="navItemUserLogin">
                    <!-- Button trigger modal -->
                    <a class="btn btn-outline-primary"  data-toggle="modal" data-target="#userLoginModal"
                    id="linkUserLogin">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>Iniciar Sesión
                    </a> 
                </li>
                <li class="nav-item ml-lg-3 mt-2 mt-lg-0 ml-lg-6" id="navItemManagement">
                    <a class="btn btn-outline-info" href="/admin">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>Gerencia
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- modals -->
    {% include 'pueblomagico/user_login.html' %}
    {% include 'pueblomagico/create_user.html' %}

    <!-- individual title -->
    {% block title %}
        <div class="container">
            Titulo
        </div>
    {% endblock %}
    <!-- messages to the user -->
    <div class="container my-4">
        <span id="alertMessages">
        {% for message in messages %}
            {% if message.extra_tags == "loginError" %}
                <div class="alert alert-danger d-flex justify-content-between" role="alert">
                    <p >{{message}}</p>
                    <i class="fa fa-times" aria-hidden="true" style="cursor:pointer;"
                    id="closeUserAlert"></i>
                </div>
            {% elif message.extra_tags == "loginSuccess" %}
                <div class="alert alert-success d-flex justify-content-between" role="alert">
                    <p >{{message}}</p>
                    <i class="fa fa-times" aria-hidden="true" style="cursor:pointer;"
                    id="closeUserAlert"></i>
                </div>
            {% elif message.extra_tags == "signupError" %}
                <div class="alert alert-danger d-flex justify-content-between" role="alert">
                    <p >{{message}}</p>
                    <i class="fa fa-times" aria-hidden="true" style="cursor:pointer;"
                    id="closeUserAlert"></i>
                </div>
            {% elif message.extra_tags == "logoutSuccess" %}
                <div class="alert alert-info d-flex justify-content-between" role="alert">
                    <p >{{message}}</p>
                    <i class="fa fa-times" aria-hidden="true" style="cursor:pointer;"
                    id="closeUserAlert"></i>
                </div>
            {% elif message.extra_tags == "userCreated" %}
                <div class="alert alert-info d-flex justify-content-between" role="alert">
                    <p >{{message}}</p>
                    <i class="fa fa-times" aria-hidden="true" style="cursor:pointer;"
                    id="closeUserAlert"></i>
                </div>
            {% endif %}
        {% endfor %}
        </span>
    </div>
    
    <!-- individual content -->
    {% block content %}
        <div class="container">
            Cuerpo del contenido
        </div>   
    {% endblock %}


    <!-- footer -->
    <footer class="jumbotron jumbotron-fluid mb-0" id="footerbase">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-4">
                    <p class="lead font-weight-bolder footerTitle">Nuestros servicios</p>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a  href="{% url 'pueblomagico:index' %}#somos">Lo que hacemos</a>
                        </li>
                        <li class="nav-item">
                            <a  href="{% url 'pueblomagico:travel'%}">Reserva con nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a  href="{% url 'pueblomagico:post' %}">Entérate y opina</a>
                        </li>
                    </ul>
                </div>              
                <div class="col-6 col-md-4">
                    <p class="lead font-weight-bolder footerTitle">Contactanos</p>
                    <ul>
                        <li><i class="fa fa-facebook mediaIcon" aria-hidden="true"></i></li>
                        <li><i class="fa fa-twitter mediaIcon" aria-hidden="true"></i></li>
                        <li><i class="fa fa-instagram mediaIcon" aria-hidden="true"></i></li>
                    </ul>                      
                </div>              
                <div class="col-12 col-md-4 mt-3 mt-md-0">
                    <p class="lead font-weight-bolder footerTitle">Ubicación</p>
                    <p>Avenida Azcapotzalco, CDMX, México</p>                     
                </div>              
                <div class="col-12 mt-3">
                    <p class="lead font-weight-bolder footerTitle">Mayores informes</p>
                    <p>Para mayores detalles acerca de los pueblos mágicos de México 
                        visita la <a href="https://www.gob.mx/sectur/articulos/pueblos-magicos-206528"
                        target="_blank">página oficial</a> de la Secretaría de Turismo.
                    </p>                     
                </div>              
            </div>
        </div>
    </footer>

    <!-- scripts -->
    <script src="{% static 'pueblomagico/bootstrap4/js/jquery.min.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" 
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" 
        crossorigin="anonymous">
    </script>
    <script src="{% static 'pueblomagico/bootstrap4/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'pueblomagico/js/userLoginValidation.js'%}"></script>
    <script src="{% static 'pueblomagico/js/createUserValidation.js'%}"></script>
    <script>
        /* popover for user information */
        $(function () {
            $('[data-toggle="popover"]').popover()
        });
        /* if there is a user connected there cannot be access to management acounts or
        to try to login as a new user until the current user session is over */
        let userloggedin = null;
        {% if request.session.user %}
            userloggedin = {{request.session.user|safe}};
        {% endif %}
        if(userloggedin) {
            $("#navItemUserLogin").prop("hidden","true");
            $("#navItemManagement").prop("hidden","true");
        } else {
            $("#navItemUserLogin").removeProp("hidden");
            $("#navItemManagement").removeProp("hidden");
        }
        /*removes message alerts to the user */
        $("#closeUserAlert").click( function(){
                    $(".container #alertMessages .alert").remove();
        });
    </script>
    {% block script_js %}{% endblock %}
</body>
</html>
