{% extends "pueblomagico/travel.html" %}
{% load static %}
{% load humanize %}

{% block css_children_travel %}

    {% block css_children_choose %}
        <link rel="stylesheet" href="{% static 'pueblomagico/css/choose.css' %}">
    {% endblock  %}

{% endblock  %}

{% block content_travel %}

    <!-- here will be the content to be overriden by reserve.html  -->
    {% block content_choose %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4"> 
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#funciona" aria-expanded="false" aria-controls="multiCollapse1">¿Cómo funciona?</button>
            </div>
            <div class="col-sm-4"> 
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#pago" aria-expanded="false" aria-controls="multiCollapse3">¿Cómo pago?</button>
            </div>
        </div>    	
        <div class="row ">
            <div class="col-sm-4 mb-sm-3 collapse multi-collapse" id="funciona">
                <p>
                    <h3>¿Cómo funciona?</h3>
                    <p>Elige el viaje que mas te convenga</p>
                </p>
            </div>
            <div class="col-sm-4  collapse multi-collapse" id="pago">
                <p>
                    <h3>¿Cómo pago?</h3>
                    <p>Utiliza tu tarjeta favorita</p>
                </p>
            </div>
        </div>

        <div class="row">
            {% for trip in travel %}
            <div class="col-12 {% if travel|length >= 3  %}col-md-6 col-lg-4{% elif travel|length == 2 %} col-md-6{% endif %}">
                <div class="card card-hotel ml-1">
                    <div class="card-body">
                        <h5 class="card-title">{{town.nombre}}</h5>
                        <h6 class="card-subtitle text-muted">{{town.estado}}</h6>
                        <img class="card-img-top img-fluid " src="{{town.url}}" alt="hotel img">
                        <h6 class="card-subtitle text-muted">Descripción</h6>
                        <p class="card-text">{{trip.descripcion}}</p>
                        <h6 class="card-subtitle text-muted">Hotel</h6>
                        <p class="card-text">{{trip.hotel.nombre}}</p>
                        <h6 class="card-subtitle text-muted">Fecha</h6>
                        <p class="card-text">{{trip.localTime}}</p>
                        <h6 class="card-subtitle text-muted">Costo</h6>
                        <p class="card-text">$ {{trip.costo|intcomma}}</p>
                        <h6 class="card-subtitle text-muted">Número de Camión</h6>
                        <p class="card-text">{{trip.camion.id}}</p>
                        <h6 class="card-subtitle text-muted">Lugares Disponibles</h6>
                        <p class="card-text">{{trip.camion.asientos}}</p>
                        <!-- contact modal trigger -->
                        <button type="button" class="btn btn-outline-success mb-3" data-toggle="modal" data-target="#contacto">Contacto</button>
                        <div class="mt-2">
                            <a href="{% url 'pueblomagico:reserve' puebloid=town.id viajeid=trip.id %}"  class="btn btn-primary btn-reserva" >Reservar<i class="fa fa-credit-card"></i><span class="footer-adress-icon"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!--  Alert message displayed when the contact sent button is clicked  -->
        <span id="contactMessageSent"></span>
    </div>
    <!-- contact modal -->
    <div class="modal fade" id="contacto" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="model-title" id="contactModalLabel">Contacto con la Agencia</h5>
                    <button type="button" class="close" data-dismiss="modal" arial-label="Close">
                        <span aria-hidden="true">&times</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="sendEmailForm">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Tu email:</label>
                            {% if request.session.user %}
                            <input type="text" readonly class="form-control-plaintext bg-light pl-2" id="recipientEmail" name="recipientEmail" value="{{request.session.user.email}}" >	
                            {% else %}
                            <input type="text" class="form-control" id="recipientEmail" name="recipientEmail">	
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="massage-name" class="col-form-label">Mensaje:</label>
                            <textarea class="form-control" id="massage-name"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="sendContactMail" class="btn btn-success" data-dismiss="modal">Enviar</button>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

{% endblock %}


{% block script_travel %}

    {% block script_choose %}
    <script>
        $('.alert').alert();
        $("#sendContactMail").click(function(){
            $(".alert-dismissible").remove();        
            $("#contactMessageSent").append("<div class='alert alert-success alert-dismissible fade show my-2' role='alert'><strong>Tu mensaje ha sido enviado con éxito</strong>. Nos comunicaremos contigo lo más pronto posible.<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>");
        }); 
    </script>
    {% endblock %}

{% endblock %}
