<div class="modal fade" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="createUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createUserModalLabel">Cree su cuenta de Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mb-2" id="modalBodyCreateUser">
                <form action="{% url 'pueblomagico:signup' %}" method="post" id="formCreateUser">
                    {% csrf_token %}
                    <div class="form-row ">
                        <label for="user">Nombre de Usuario</label>
                        <input type="text" class="form-control" id="user" name="user" placeholder="Escribe tu nombre de usuario">
                    </div>
                    <input type="hidden" name="currPage" value="{{ request.get_full_path }}">
                    <span id="errorUser"></span>
                    <div class="form-row mt-2">
                        <label for="name">Nombre(s)</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Escribe tu nombre">
                    </div>
                    <span id="errorName"></span>
                    <div class="form-row mt-2">
                        <label for="lastname">Apellido(s)</label>
                        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Escribe tu apellido">
                    </div>
                    <span id="errorLastname"></span>
                    <div class="form-row mt-2">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="ejemplo@gmail.com">
                    </div>
                    <span id="errorEmail"></span>
                    <div class="form-row mt-2">
                        <label for="password1">Contraseña</label>
                        <input type="password" class="form-control userPassword" id="password1" name="password1" >
                    </div>
                        <div class="form-row mt-2">
                            <label for="password2">Repita su Contraseña</label>
                            <input type="password" class="form-control userPassword" id="password2" name="password2" >
                        </div>
                            <span id="errorPassword"></span>
                            <button type="submit" class="btn btn-primary mt-3" id="btnCreateUser" value="Submit">Crear</button>
                </form>                    
            </div>
            <div class="modal-footer">
                <p>Aviso de privacidad</p>
            </div>
        </div>
    </div>
</div>
