<div class="modal fade" id="createCommentModal" tabindex="-1" role="dialog" aria-labelledby="createCommentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createCommentModalLabel">Comenta tu experiencia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mb-2" id="modalBodyCreateComment">
                <form action="{% url 'pueblomagico:town' town.id %}" method="post" id="formCreateComment">
                    {% csrf_token %}
                    <div class="form-row ">
                        <label for="commentTextArea">Cometario</label>
                        <textarea class="form-control" id="commentTextArea" rows="4" name="texto"></textarea>
                        <input type="hidden" name="pueblo" value="{{town.id}}">
                        <input type="hidden" name="user" value="{{request.session.user.userid}}">
                        <input type="hidden" name="currPage" value="{{ request.get_full_path }}">
                    </div>
                    <button type="submit" class="btn btn-primary mt-3" id="btnCreateComment" value="Submit">Crear</button>
                </form>                    
            </div>
            <div class="modal-footer">
                <p>Se respetuoso con otros usuarios y moderado en el uso del lenguaje</p>
            </div>
        </div>
    </div>
</div>