<div class="modal fade" id="deleteCommentModal" tabindex="-1" aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteCommentModalLabel">Borrar Comentario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Al borrar el comentario la información se perderá definitivamente y no será posible su recuperación</p>
            </div>
            <div class="modal-footer">
                <div class="d-flex flex-row bd-highlight mb-3 pl-0">
                    <div class="bd-highlight">
                        <form action="{% url 'pueblomagico:editComment' id=town.id comment=comment.id  %}" method="post" id="formDeleteComment">
                            {% csrf_token %}
                            <div class="form-row ">
                                <input type="hidden" name="texto" value="dummytext">
                                <input type="hidden" name="currPage" value="{{ request.get_full_path }}">
                                <input type="hidden" name="_method" value="DELETE">
                            </div>
                            <button type="submit" class="btn btn-danger mb-0" id="btnDeleteComment" value="Submit">Borrar</button>
                        </form>  
                    </div>
                    <div class="bd-highlight">
                        <button type="button" class="btn btn-primary mb-0 ml-3" data-dismiss="modal">
                            Cancelar
                        </button>
                    </div>
                </div>   
            </div>
        </div>
    </div>
</div>