{% extends "pueblomagico/base.html" %}
{% load static %}

{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'pueblomagico/css/edit.css' %}">
{% endblock  %}

{% block title_page %} Editar Comentario {% endblock  %}

{% block title %}
<div class="jumbotron jumbotron-fluid" id="indexTitle">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-8 col-sm-6">
                <h1 class="display-4">Edita tu comentario</h1>
                <p >
                    Recuerda ser siempre cordial en tu uso del lenguaje
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}


<div class="container">
    <p>Edita tu comentario</p>
    <form action="{% url 'pueblomagico:editComment' id=town.id comment=comment.id  %}" method="post" id="formEditComment">
        {% csrf_token %}
        <div class="form-row ">
            <label for="commentEditTextArea">Cometario</label>
            <textarea class="form-control" id="commentEditTextArea" rows="4" name="texto">{{comment.texto}}</textarea>
            <input id="editCommentPage" type="hidden" name="currPage" value="{{ request.get_full_path }}">
            <input type="hidden" name="_method" value="PUT">
        </div>
        <div class="d-flex flex-row bd-highlight mb-3 pl-0">
            <div class="bd-highlight">
                <button type="submit" class="btn btn-danger my-3" id="btnEditComment" value="Submit">Editar</button>
            </div>
            <div class="bd-highlight">
                <a href="#" class="btn btn-primary my-3 ml-3" id="btnCancelEditComment">Cancelar</a>
            </div>
        </div>
    </form>  
</div>

{% endblock %}


{% block script_js %}
    <script>
        console.log("full path");
        let path = "{{ request.get_full_path }}".split("/").filter(x => x!=="")
            .slice(0,2);
        console.log(path);
        path = `/${path[0]}/${path[1]}/` ;
        console.log(path);
        $( document ).ready( function(){
            $("#editCommentPage").val(path);
            $("#btnCancelEditComment").prop("href",path);
        });
    </script>
{% endblock %}