{% extends "pueblomagico/base.html" %}
{% load static %}

{% block custom_css %} 
    <link rel="stylesheet" type="text/css" href="{% static 'pueblomagico/css/index.css' %}">
{% endblock  %}

{% block title_page %} Inicio {% endblock  %}

{% block title %}
<div class="jumbotron jumbotron-fluid" id="indexTitle">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-8 col-sm-6">
                <h1 class="display-4">Ven y descubre</h1>
                <p >
                    Los pueblos mágicos que México tiene para el mundo
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row" id="somos">
        <div class="col-md ">
            <img src="{% static 'pueblomagico/images/izamal_yuc.jpg' %}"
                loading="lazy"
                class="img-fluid shadow-lg p-3 mb-5 bg-white rounded" 
                alt="Izamal Yucatan">
        </div>
        <div class="col-md">
            <p>
                Un Pueblo Mágico es un sitio con símbolos y leyendas,
                poblados con historia que en muchos casos han sido escenario de hechos
                trascendentes para nuestro país, son lugares que muestran la identidad nacional
                en cada uno de sus rincones, con una magia que emana de sus atractivos;
                visitarlos es una oportunidad para descubrir el encanto de México. 
            </p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md order-sm-2 ">
            <img src="{% static 'pueblomagico/images/pena_bernal_qto.jpg' %}"
                loading="lazy"
                class="img-fluid shadow-lg p-3 mb-5 bg-white rounded" 
                alt="Peña de Bernal Queretaro">
        </div>
        <div class="col-md order-sm-1">
            <p>
                Como empresa nacional contribuimos a revalorar a un conjunto de poblaciones del país que
                siempre han estado en el imaginario colectivo de la nación y que
                representan alternativas frescas y variadas para los visitantes nacionales
                y extranjeros.
            </p>
        </div>
    </div>
</div>

{% endblock %}

{% block script_js %}
    <script>
    </script>
{% endblock %}
