{% extends "pueblomagico/base.html" %}
{% load static %}

{% block title_page %} Entérate {% endblock  %}

{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'pueblomagico/css/post.css' %}">
    <!-- it is going to be overriden by child town.css -->
    {% block post_css %} {% endblock  %}

{% endblock  %}

{% block title %}
<div class="jumbotron jumbotron-fluid" id="indexTitle">
    <div class="container">
        <div class="row">
            <div class="col-8 col-sm-6">
                <h1 class="display-4">Entérate y Opina</h1>
                <p >
                    Lee de las experiencias de otros y comenta las tuyas
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" id="breadTown" aria-current="page">
            <a href="{% url 'pueblomagico:post' %}">Pueblo</a>
        </li>
    </ol>
</nav>
<div class="container">
    <!-- content_travel will be overriden by its children: town.html, -->
    {% block content_post %}
        <p id="filtro">Filtrar por Estado</p>
        <select class="custom-select custom-select-lg mb-3">
            <option value="Todos">Todos</option>
            {% for state in states %}
                <option value="{{state}}">{{state}}</option>
            {% endfor %}
            
        </select>
        <div class="pb-4" id="listTowns">
            <ul>
                {% for town in towns %}
                    <li data-state="{{town.estado}}">
                        <a href="{% url 'pueblomagico:town' town.id %}" style="color: white;" >
                            {{ town.nombre }} | {{town.estado}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <a class="py-4" href="#filtro">Volver al inicio</a>
        </div>
        
    {% endblock %}

</div>
{% endblock %}


{% block script_js %}

    {% block post_script %}
    <script>
        function setBackGroundColor(num) {
            if (num%2 ==0) {
                return "#48CFAD";
            }
            return "#001f3f";
        }
        let towns = $("#listTowns li[data-state]");
        $("select").change( ()=>{
            towns.each( (i, town)=>{
                $(town).css({"display":"block", "background-color":setBackGroundColor(i+1)});
            });
            let select = $("select").val();
            select = select === "Todos" ? null : select;
            if(select ) {
                let y = 0;
                towns.each( (i, town)=>{
                    if ($( town ).data("state")!==select) {
                        $(town).css({"display":"none"});
                    } else {
                        $(town).css({"background-color":setBackGroundColor(y++)});
                    }   
                });
            }
        });
        
    </script>
    
    {% endblock %}

{% endblock %}