{% extends "pueblomagico/choose.html" %}
{% load static %}
{% load humanize %}


{% block css_children_choose %}
    <link rel="stylesheet" href="{% static 'pueblomagico/css/reserve.css' %}">
{% endblock  %}



{% block content_choose %}
<div class="container">

    <p>Reserva tu boleto a {{travel.pueblo.nombre}} en el Hotel {{travel.hotel.nombre}}</p>
    <p>Aún quedan {{travel.camion.asientos}} asiento(s)</p>
    <form id="reserveForm" method="post" action="{% url 'pueblomagico:reserve' puebloid=town.id viajeid=travel.id  %}" >
        {% csrf_token %}
        <div class="form-group">
            <label for="name" class="col-form-label">Nombre:</label>
            {% if request.session.user %}
            <input type="text" readonly  class="form-control-plaintext p-3 mb-2 bg-light text-dark" id="nameVal" name="name" value="{{request.session.user.firstname}}"></input>
            {% else %}
            <input type="text" class="form-control" id="nameVal" name="name" ></input>
            <span id="errorNameVal"></span>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="lastNameVal" class="col-form-label">Apellido:</label>
            {% if request.session.user %}
            <input type="text" readonly class="form-control-plaintext p-3 mb-2 bg-light text-dark" id="lastNameVal" name="lastname" value="{{request.session.user.lastname}}"></input>
            {% else %}
            <input type="text" class="form-control" id="lastNameVal" name="lastname"></input>
            <span id="errorLastNameVal"></span>
            {% endif %}
        </div>
        <div class="form-grup">
            <label for="seats" class="col-form-label">Personas:</label>
            <input type="number" class="form-control form-control-sm" value="1" min="1" max="{{travel.camion.asientos}}" id="seats"  name="seats" >
        </div>
        <div class="form-group">
            <label for="emailVal" class="col-form-label">Tu email:</label>
            {% if request.session.user %}
            <input type="text" readonly class="form-control-plaintext p-3 mb-2 bg-light text-dark" id="emailVal" name="email" value="{{request.session.user.email}}"></input>
            {% else %}
            <input type="email" class="form-control" id="emailVal" name="email"></input>
            <span id="errorEmailVal"></span>
            {% endif %}
        </div>
        <div>Información de pago:</div>    
        <div class="form-group">
            <input type="text" class="form-control my-3" placeholder="Numero de Cuenta" id="numeroCuentaVal" name="numerocuenta" >
            <span id="errorNumeroCuentaVal"></span>
            <input type="date" class="form-control my-3" placeholder="Fecha de Vencimiento" id="vencimientoVal" name="vencimiento" >
            <span id="errorVencimientoVal"></span>
            <input type="text" class="form-control my-3" placeholder="CV" id="cvVal" name="cv"  >
            <span id="errorCvVal"></span>
        </div>
        <button id="montoAcumulado" name="cost" type="submit" class="btn btn-success mt-1 mb-4" value="$ {{travel.costo|intcomma}}" >
            <p class="mb-0"> $ {{travel.costo|intcomma}} <small>MXN</small></p>
        </button>
            
    </form>
</div>
{% endblock %}




{% block script_choose %}
<script src="{% static 'pueblomagico/js/reserveValidation.js' %}"></script>
<script type="text/javascript">
    $("#reserveForm #seats").change( function(){
        let cost = parseFloat({{travel.costo}}) ;
        let quantity = parseFloat($("form #seats").val());
        let total = (cost*quantity).toLocaleString('en');
        $("#reserveForm #montoAcumulado").val(total);
        $( "#reserveForm button p" ).remove();
        $( "#reserveForm button" ).append(`<p class="mb-0">$ ${total} MXN</p>`);
    });
</script>
{% endblock %}

