{% extends "pueblomagico/base.html" %}
{% load static %}
{% load humanize %}
{% block custom_css %} 
    <link rel="stylesheet" type="text/css" href="{% static 'pueblomagico/css/ticket.css' %}">
{% endblock  %}

{% block title_page %} Reservaciones {% endblock  %}

{% block title %}
<div class="jumbotron jumbotron-fluid" id="indexTitle">
    <div class="container">
        <div class="row justify-content-end ">
            <div class="col-8 col-sm-6">
                <h1 class="display-4">Disfruta tu viaje</h1>
                <p >
                    Maravillate de los pueblos mágicos de México    
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="card border-light mb-3" style="max-width:60%;">
            <img class="card-img-top" src="{{ticket.viaje.pueblo.url}}" alt="Card image cap">
            <div class="h4 card-header">Boleto de Viaje</div>
            <div class="card-body">
                <h5 class="card-title text-secondary">Nombre</h5>
                <p class="card-text">{{ticket.nombre|upper}}</p>
                <h5 class="card-title text-secondary">Apellidos</h5>
                <p class="card-text">{{ticket.apellido|upper}}</p>
                <h5 class="card-title text-secondary">Fecha de compra de boleto</h5>
                <p class="card-text">{{ticket.localTime}}</p>
                <h5 class="card-title text-secondary">Fecha de Viaje</h5>
                <p class="card-text">{{ticket.viaje.localTime}}</p>
                <h5 class="card-title text-secondary">Cantidad de boletos comprados</h5>
                <p class="card-text">{{ticket.cantidad}}</p>
                <h5 class="card-title text-secondary">Destino</h5>
                <p class="card-text">{{ticket.viaje.pueblo.nombre}}</p>
                <h5 class="card-title text-secondary">Número de Camión</h5>
                <p class="card-text">{{ticket.viaje.camion.id}}</p>
                <h5 class="card-title text-secondary">Costo Total</h5>
                <p class="card-text">$ {{ticket.costo_total|intcomma}} <small>MXN</small></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block script_js %}

{% endblock %}
