{% extends "pueblomagico/post.html" %}
{% load static %}
{% load humanize %}

{% block post_css %} 
    <link rel="stylesheet" type="text/css" href="{% static 'pueblomagico/css/town.css' %}">
{% endblock  %}

{% block content_post %}

<div class="container mb-2">
    <!-- alert messages for the user when a comment is edited or deleted -->
    {% for message in messages %}
        {% if message.extra_tags == "commentCreated" %}
        <div class="alert alert-success my-2 d-flex justify-content-between" role="alert"
        id="typeMessageAlert">
            <p >{{message}}</p>
            <i class="fa fa-times" aria-hidden="true" style="cursor:pointer;"
            id="closeMessageAlert"></i>
        </div>
        {% elif message.extra_tags == "commentEdited" %}
        <div class="alert alert-success my-2 d-flex justify-content-between" role="alert"
        id="typeMessageAlert">
            <p >{{message}}</p>
            <i class="fa fa-times" aria-hidden="true" style="cursor:pointer;"
            id="closeMessageAlert"></i>
        </div>
        {% elif message.extra_tags == "commentDeleted" %}
        <div class="alert alert-success my-2 d-flex justify-content-between" role="alert"
        id="typeMessageAlert">
            <p >{{message}}</p>
            <i class="fa fa-times" aria-hidden="true" style="cursor:pointer;"
            id="closeMessageAlert"></i>
        </div>
        {% endif %}
    {% endfor %}
    <div class="row my-3">
        <div class="col-lg">
            <div class="row mb-2 mb-lg-4">
                <div class="col">
                    <h3 class="mb-3" id="townTitle">{{town.nombre}} | {{town.estado}}</h3>
                    <a href="#comments">Ve a comentarios</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img class="img-fluid" src="{{town.url}}" alt="{{town.nombre}}, {{town.estado}}">
                </div>
            </div>
            
        </div>
        <div class="col-lg mt-3 mt-lg-0 ">
            <p>{{town.texto}}</p>
        </div>
    </div>

    {% if request.session.user %}
        <!-- comment button form -->
        <div class="form-inline mb-3" id="commentsForm">
            <p>Añade tu comentario</p>
            <!-- Trigger create commnent modal button -->
            <a class="btn btn-outline-primary mb-2 ml-3"  data-toggle="modal" data-target="#createCommentModal"
            id="linkCreateComment">
                Comenta
            </a>
        </div>
        <!-- modals -->
        {% include 'pueblomagico/createComment.html' %}
    {% else %}
        <h4 class="my-4">Necesitas iniciar sesión de usuario para comentar</h4>
    {% endif %}

    <!-- comments section -->
    {% if comments %}
        {% for comment in comments %}
        <div class="media mb-2 border border-primary p-1 rounded" id="comments">
            <img class="mr-3" src="{% static 'pueblomagico/images/user.png' %}" alt="User image"
            style="width: 50px;">
            <div class="media-body pb-0">
                <h5 class="mt-0">{{comment.user.username}} | {{comment.localtimeLastUpdate|naturaltime}}</h5>
                <p>{{comment.texto}}</p>
                <!-- user can edit or delete his own comments only -->
                {% if request.session.user.userid == comment.user.id %}
                <div class="d-flex flex-row bd-highlight mb-3 pl-0">
                    <div class="bd-highlight">
                        <form action="{% url 'pueblomagico:editComment' id=town.id comment=comment.id  %}" method="post" id="formEditComment">
                            {% csrf_token %}
                            <div class="form-row ">
                                <input type="hidden" name="texto" value="dummytext">
                                <input type="hidden" name="currPage" value="{{ request.get_full_path }}">
                                <input type="hidden" name="_method" value="GET">
                            </div>
                            <button type="submit" class="btn btn-outline-success mb-0" id="btnEditComment" value="Submit">Editar</button>
                        </form>  
                    </div>
                    <div class="bd-highlight">
                        <!-- Button trigger delete comment modal -->
                        <button type="button" class="btn btn-outline-danger mb-0 ml-3" data-toggle="modal" data-target="#deleteCommentModal">
                            Borrar
                        </button>
                    </div>
                </div>   
                <!-- Modal delete comment-->
                {% include 'pueblomagico/deleteComment.html' %}            
                {% endif %}
            </div>
        </div>
        {% endfor %}
    {% else %}
    <div class="jumbotron jumbotron-fluid" id="comments">
        <div class="container">
            <h1 class="display-4">Ningún Mensaje</h1>
            <p class="lead">Comenta tus vacaciones y se el primero en opinar</p>
        </div>
    </div>
    {% endif %}
    <a href="#townTitle">Ve al inicio de página</a>
</div>

{% endblock %}

{% block post_script %}

<script type="text/javascript">

    $(".breadcrumb").append( "<li class='breadcrumb-item active' id='breadTown' aria-current='page'>{{town.nombre}}</li>" );
    let init = $("#breadTown");
    init.removeClass("active").removeAttr("aria-current");

    $("#closeMessageAlert").click(()=>{
        $("#typeMessageAlert").remove();
    });
</script>

{% endblock %}
