{% extends "pueblomagico/base.html" %}
{% load static %}

{% block custom_css %} 
    <link rel="stylesheet" type="text/css" href="{% static 'pueblomagico/jquery-ui-1.12.1/jquery-ui.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pueblomagico/css/travel.css' %}">
    {% block css_children_travel %}{% endblock  %}
{% endblock  %}

{% block title_page %} Reservaciones {% endblock  %}

{% block title %}
<div class="jumbotron jumbotron-fluid" id="indexTitle">
    <div class="container">
        <div class="row justify-content-end ">
            <div class="col-8 col-sm-6">
                <h1 class="display-4">Reserva tu viaje</h1>
                <p >
                    Encuentra los mejores destinos en México
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <!-- breadcrumb navigation  -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li class="breadcrumb-item {% if not forloop.last %}active{% else %} text-secondary{% endif %}" {% if forloop.last %}daria-current="page"{% endif %} >
                <a {% if not forloop.last %}href="{{breadcrumb.url}}"{% endif %}>{{breadcrumb.title}}</a>
            </li>
        {% endfor  %}
        </ol>
    </nav>
    <!-- content_travel will be overriden by its children: choose.html, -->
    {% block content_travel %}
    <div class="container pb-4">
        <form action="{% url 'pueblomagico:travel'%}" method="post" id="formTravel">
            <div class="form-group ui-widget">
                {% csrf_token %}
                <label for="travel">Ingresa tu destino</label>
                <input type="search" class="form-control" id="travel" aria-describedby="searchHelp"
                    placeholder="destino" name="travel">
                <small id="searchHelp" class="form-text text-muted">
                    <p>Las mejores vacaciones al alcance de un click</p>
                </small>
                <span id="notFound"></span>
            </div>
            <button type="submit" class="btn btn-primary" id="search_travel" value="Submit">Buscar</button>
        </form>
    </div>
    {% endblock %}

{% endblock %}


{% block script_js %}

    <!-- js for the search bar will only be in travel, overriden in its children -->
    {% block script_travel %}
    <script src="{% static 'pueblomagico/jquery-ui-1.12.1/jquery-ui.min.js' %}" ></script>
    <script >

        const travels = {{search|safe}};
        /* validation for the search bar */
        function containsTravel(val,preventdef = false) {
            let parag_err = $( "#errInfo" );
            let button =  $( "#search_travel" );
            button.removeClass( ["btn-secondary","btn-primary"] ).addClass( "btn-primary" );
            parag_err.remove();
            if(travels.some(travel => travel.info === val)) {
                parag_err.remove();
            } else {
                button.removeClass( "btn-primary" ).addClass( "btn-secondary" );
                $( "#notFound" ).append( "<p class='alert alert-danger' id='errInfo'>Destino no Encontrado</p>" );
                if( preventdef) {
                    event.preventDefault();
                }
            }
        }

        /* it loads all travel_info into the search bar */
        $( function() {
            let availableTags = travels.map(travel => travel.info );
            $( "#travel" ).autocomplete({
                source: availableTags
            });
        });

        $( "#formTravel" ).submit( function( event ) {
            let val = $("#travel").val();
            containsTravel(val,true);
        });

        /* it is activated when an event occurs outside #travel after an event 
        has already happend inside #travel*/
        $( "#travel" ).blur(function() {
            let val = $("#travel").val();
            containsTravel(val);
        });
    </script>
    {% endblock %}

{% endblock %}
