<div class="modal fade" id="userLoginModal" tabindex="-1" role="dialog" aria-labelledby="userLoginModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userLoginModalLabel">Inicia Sesión</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'pueblomagico:login' %}" method="post" id="formLoginUser"> 
          {% csrf_token %}
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputUser">Usuario</label>
              <input type="text" class="form-control" id="userLogin" name="inputUser">
              <input type="hidden" name="currPage" value="{{ request.get_full_path }}">
              <span id="errorUserLogin"></span>
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword">Contraseña</label>
              <input type="password" class="form-control" id="passwordLogin" name="inputPassword" >
              <span id="errorPasswordLogin"></span>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" id="btnLogin" value="Ok">Entrar</button>
        </form>                    
      </div>
      <div class="modal-footer">
        <div>¿No tienes cuenta? </div>
        <a class="btn btn-outline-primary" data-dismiss="modal" data-toggle="modal" data-target="#createUserModal"
          id="linkCreateUser">
          Crear cuenta
        </a> 
      </div>
    </div>
  </div>
</div>