@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300;500&display=swap');

body {
    font-family: 'Spectral', serif;
}

#logo {
    margin-right: 0%;
    width: 50px;
}

nav, .navbar, #navUserInSession {
    background-color: #51d0de !important;
}

#navUserInSession div:nth-child(1):hover {
    cursor: pointer;
}

#navbarNav a, #navUserInSession button {
    color: #111111;
    letter-spacing: .4rem;
}

#navbarNav a:hover {
    color: cornsilk;
    
}

@media screen and (max-width: 576px) {
    #navUserInSession {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        grid-gap: 1px !important;
        grid-auto-rows: minmax(50px, auto) !important;
    }
    #navUserInSession #formLogoutUser  {
        grid-column: 2 / 3 !important  ;
        grid-row: 2 !important ;
    }
    #navUserInSession #formLogoutUser button {
        letter-spacing: .1rem ;
        left: 100%  !important;
        position: sticky;
    }
    
    #navUserInSession #btnuserinfo {
        grid-column: 2 / 3 !important ;
        grid-row: 1 !important ;
    }
    #navUserInSession #btnuserinfo button {
        left: 100% !important;
        letter-spacing: .1rem ;
        position: sticky;
    }
}

@media screen and (min-width: 960px) {
    #navItemUserLogin {
        position: absolute;
        right: 16%;
    }
    #navItemManagement {
        position: absolute;
        right: 2%;
    }
}


#modalBodyCreateUser {
    max-height: calc(100vh - 200px) !important;
    overflow-y: auto !important;
}

#currPage a {
    color: #9a4d55;
    
}

#footerbase {
    background-color: #85144b !important;
    color: #FFFFFF;
}

#footerbase p {
    font-family: 'Spectral', serif !important;
    font-size: 100%;
}

footer li  {
    list-style-type: none;
}

footer .mediaIcon {
    font-size: 200%;
}

footer .footerTitle{
    color: #111111;
}
