.card-hotel {
    flex: 1 200px;
    margin-top: 10px; 
}

.btn-reserva {
    width: 100%;
    border-radius: 0px; 
}

.footer-adress-icon {
    padding-right: 10px; 
}

.card-img-top {
    margin-top: 10px;
    margin-bottom: 10px; 
}

div .form-control-plaintext {
    background-color:  #c0c0c0 !important;
}
