@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

#indexTitle {
    background: linear-gradient(
        rgba(0, 0, 0, .1), 
        rgba(0, 0, 0, .3)
        ),url("../images/edit.jpg");
    background-repeat: round;
    color:white;
}

p {
    font-size: 140%;
    font-family: 'Handlee', cursive;
}
