@import url('https://fonts.googleapis.com/css2?family=Aleo&display=swap');

#indexTitle {
    background: linear-gradient(
        rgba(0, 0, 0, .1), 
        rgba(0, 0, 0, .3)
        ),url("../images/error.jpg");
    background-repeat: round;
    color:white;
}

#erroTitle {
    margin-right: 80% ;
}

h1, p {
    font-family: 'Aleo', serif;
}