@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
{% load static %}
#indexTitle {
    background-image: url("../images/bacalar_qro.jpg");
    background-repeat: round;
}

p {
    font-size: 140%;
    font-family: 'Handlee', cursive;
}
