@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

#indexTitle {
    background: linear-gradient(
        rgba(0, 0, 0, .1), 
        rgba(0, 0, 0, .3)
        ),url("../images/atlixco_pue.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
    color:white;
}

p {
    font-size: 140%;
    font-family: 'Handlee', cursive;
}

ul, ol{
    /*margin: 0;padding: 0;*/
    list-style: none;
}
#listTowns li {
    background: #37BC9B;
    color: #fff;
    counter-increment: myCounter;
    margin: 0 0 30px 0;
    padding: 13px;
    position: relative;
    top: 1em;
    border-radius:  0em 2px 1em 1em;
    padding-left: 2em;
    font-size: 1.2em;
    font-family: Constantia;
}
#listTowns li:before{
    content: counter(myCounter, decimal-leading-zero);
    display: inline-block;
    text-align: center;
    font-size: 1em;
    line-height: 1.3em;
    background-color:  #48CFAD;
    padding: 10px;
    font-weight: bold;
    position: absolute; 
    top: 0;
    left: -40px;
    border-radius: 50%;
    font-family: exo;
}


#listTowns li:nth-child(even){
    background-color: #001f3f;
}