#indexTitle {
    background: linear-gradient(
        rgba(0, 0, 0, .1), 
        rgba(0, 0, 0, .3)
        ),url("../images/sayulita.jpg");
    background-repeat: round;
    color:white;
    image-rendering: -webkit-optimize-contrast;

}
