@import url('https://fonts.googleapis.com/css2?family=Neuton&display=swap');

#townTitle {
    font-family: 'Neuton', serif;
    font-size: 70px; 
    font-weight: bold; 
    letter-spacing: 2px; 
    line-height: 1; 
    text-align: center; 
}

@media screen and (max-width: 576px) {
    #townTitle {
        font-size: 45px;
    }
}