@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

#indexTitle {
    background: linear-gradient(
        rgba(0, 0, 0, .1), 
        rgba(0, 0, 0, .3)
        ),url("../images/tula_tam.jpg");
    background-repeat: round;
    color:white;
}

p {
    font-size: 140%;
    font-family: 'Handlee', cursive;
}

#modalBodyCreateUser {
    max-height: calc(100vh - 200px) !important;
    overflow-y: auto !important;
}
