{% extends "admin/base.html" %}

{% block title %}
Administración
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">Administración Pueblos Mágicos</a>
</h1>
{% endblock %}

{% block nav-global %}
{% endblock %}


